html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.secondary-nav li {
  display: inline-block;
  padding-left: 20px;
  margin-top: 20px;
}
.secondary-nav li a:hover {
  color: #aab7c4;
}
.secondary-nav li a:active {
  color: #aab7c4;
}

/* Footer */

.footer-links {
  text-align: center;
  left: 0;
  justify-content: center;
  align-items: center;
}
.footer-links ul li {
  list-style: none;
}

@media (max-width: 768px) {
  .copy-right {
    font-size: 12px;
  }
}

.react-datepicker {
  width: 100%;
}

.react-datepicker__month-container {
  float: left;
  width: 100%;
}

/* Navbar */

/* Home page */

.card-text {
  font-size: 1.2rem;
  color: black;
}

.view-btn {
  background-color: #e61e4d;
}

.view-btn a {
  color: white;
}

#no_of_reviews {
  font-size: 0.85rem;
  color: grey;
  margin-left: 0.5rem;
}

/* Host */
.host-container {
  background-color: #222;
  border-radius: 20px;
}
/* Host */

/* Ratings */
.rating-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}
.main-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}

.rating-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  color: #ffb400;
  font-size: 24px;
}
.main-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  color: #ffb400;
}

.rating-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.main-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.rating-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #ffb400;
}
.main-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #ffb400;
}

/* Room Details Page */

.booking-btn:hover {
  color: white;
}

.price-per-night {
  font-size: 1.3rem;
}

.booking-card {
  /* border: 1px solid #e3e3e3; */

  width: 80%;
  border-radius: 5px;
  padding: 5px 10px;
}

.room-feature {
  font-size: 1.1rem;
  color: #404040;
}

.room-feature p {
  margin-left: 0.4rem;
  display: inline-block;
}

/* Reviews */
.review_user {
  font-size: 0.8rem;
  color: grey;
}

.rating {
  margin-top: 10rem;
}

.stars {
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 0;
}

.star {
  display: inline;
  list-style: none;
  font-size: 2rem;
  padding-left: 0.9rem;
  color: #e3e3e3;
}

.star:first-child {
  padding-left: 0;
}

.red {
  color: #e61e4d;
}

.light-red {
  color: #f74f77;
}

/* Footer */
footer {
  /* margin-top: 6rem; */
  color: grey;
  bottom: 0;
  width: 100%;
  /* background-color: #222; */
}

/* Stripe payment design */

#stripe_pay_btn {
  white-space: nowrap;
  border: 0;
  outline: 0;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  color: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  background-color: #6772e5;
  text-decoration: none;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  margin-top: 10px;
}

#stripe_pay_btn:hover {
  color: #fff;
  cursor: pointer;
  background-color: #7795f8;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.StripeElement {
  display: block;
  margin: 10px 0 20px 0;
  max-width: 500px;
  padding: 10px 14px;
  font-size: 1em;
  font-family: "Source Code Pro", monospace;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
    rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  background: white;
}

input::placeholder {
  color: #aab7c4;
}

.StripeElement--focus {
  box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px,
    rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.StripeElement.IdealBankElement,
.StripeElement.FpxBankElement,
.StripeElement.PaymentRequestButton {
  padding: 0;
}

.StripeElement.PaymentRequestButton {
  height: 40px;
}

/* Pagination */
.page-item.active .page-link {
  background-color: #e61e4d;
  border-color: #e61e4d;
}

.page-link {
  color: #e61e4d;
}

.page-link:hover {
  color: #e61e4d;
}

/* Booking Details */
.booking-details p {
  margin-left: 1.5rem;
}

.redColor {
  color: red;
}

.greenColor {
  color: green;
}

/* 404 Page */

.page-not-found-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 68vh;
}

#title_404 {
  color: #972479;
  font-size: 7rem;
}

#description_404 {
  color: grey;
}

#layout-container {
  height: 100vh;
}

i {
  font-size: 10px;
}

/* Media Query */
@media (max-width: 768px) {
  .img-height {
    height: 200px;
  }
}
/* Media Query */

.img-height img {
  object-fit: cover;
  width: 50%;
  height: 50%;
}

.back-link {
  position: absolute;
  top: 20px;
  left: 40px;
}
.back-link i {
  margin-right: 10px;
}

.right {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.reg-right {
  display: flex;
  justify-content: center;
  justify-items: center;
  position: relative;
}
/* LOGIN */
